.photo-product {
  position: relative;
  width: 100%;
  height: 100%;
}
.photo-product img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.photo-product .super-discount-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: -58px;
  height: 58px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.photo-product .super-discount-container .discount-content {
  background: linear-gradient(90.47deg, #5216FE 5.14%, #FE3131 69.71%);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo-product .super-discount-container .discount-content .content {
  color: #FFC062;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}
.photo-product .super-discount-container .discount-content .discount-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-product .super-discount-container .discount-content .discount-time .label {
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.photo-product .super-discount-container .discount-content .discount-time .countdown {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.photo-product .action-back {
  position: absolute;
  z-index: 1;
  background: #FFF;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-product .action-back img {
  width: 23.53px;
  height: 23.53px;
}
.photo-product .action-cart {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 16px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.37);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-product .action-cart .function-cart {
  height: 28px;
  width: 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.photo-product .action-cart .function-cart .icon-status {
  position: absolute;
  width: 31px;
  height: 28px;
}
.photo-product .action-cart .function-cart .icon-status .quantity-bg {
  position: absolute;
  right: 0;
  z-index: 2;
  border-radius: 14px;
  border: solid #FFF 1px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F06292;
}
.photo-product .action-cart .function-cart .icon-status .quantity-bg .value {
  color: #FFF;
  font-family: "Roboto";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 400;
}
.photo-product .action-cart .function-cart .icon-function {
  width: 24px;
}

.name-and-amount {
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding: 8px 12px 0;
}
.name-and-amount .name-product {
  color: #263238;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.name-and-amount .amount-product {
  display: flex;
  align-items: center;
  gap: 12px;
}
.name-and-amount .amount-product .price-sell {
  color: #E91E63;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.25px;
}
.name-and-amount .amount-product .price-original {
  color: #78909C;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: line-through;
}

.product-quality {
  background: #FFF;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}
.product-quality .rating {
  display: flex;
  gap: 4px;
  margin-right: 12px;
}
.product-quality .rating img {
  width: 17px;
}
.product-quality .rating .scores {
  color: #263238;
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.product-quality .seperate {
  width: 0.5px;
  height: 19px;
  background: #ECEFF1;
}
.product-quality .sold {
  color: #263238;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 8px;
}

body {
  margin: unset;
  background: #ECEFF1;
}
body .container-page {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
}
body a {
  text-decoration: none;
}

/*# sourceMappingURL=main-product.css.map */
