@import "variables";
@import "photo-product";
@import "product-information";

body {
  margin: unset;
  background: $background-common;

  .container-page {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
  }

  a {
    text-decoration: none;
  }
}