.name-and-amount{
  background: $white;
  display: flex;
  flex-direction: column;
  padding: $distance-common*2px $distance-common*3px 0;

  .name-product{
    color: $ink-900;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $font-family-common;
    font-size: 16px;
    font-style: normal;
    font-weight: $font-weight-bolder;
    line-height: 22px;
  }

  .amount-product{
    display: flex;
    align-items: center;
    gap: $distance-common*3px;

    .price-sell{
      color: $primary-b-500;
      font-family: $font-family-common;
      font-size: 20px;
      font-style: normal;
      font-weight: $font-weight-boldest;
      line-height: 32px;
      letter-spacing: 0.25px;
    }

    .price-original{
      color: $ink-400;
      font-family: $font-family-common;
      font-size: 14px;
      font-style: normal;
      font-weight: $font-weight-normal;
      line-height: 20px;
      text-decoration-line: line-through;
    }

  }
}