//variables
$percent-sold:                                      70;
$percent-5star:                                     100;
$percent-4star:                                     90;
$percent-3star:                                     20;
$percent-2star:                                     30;
$percent-1star:                                     0;

$distance-common:                                   4;

$ratingSize:                                        80px;

$default-transitions:                               transform 0.5s, border-radius 0.5s;

//colors
$Black50:                                           #FAFAFA !default;
$Black200:                                          #EEEEEE !default;
$white:                                             #FFF !default;
$background-common:                                 #ECEFF1 !default;
$primary-b-300:                                     #F06292 !default;
$primary-b-500:                                     #E91E63 !default;
$red:                                               #EB5757 !default;
$red-bold:                                          #F44336 !default;
$orange-500:                                        #FF5722 !default;
$orange-100:                                        #FFCCBC !default;
$yellow-label:                                      #FFC062 !default;
$yellow-1:                                          #FFAB00 !default;
$yellow-2:                                          #FFC400 !default;
$primary-text:                                      #000 !default;
$black1:                                            #181717 !default;
$black-900:                                         #212121 !default;
$ink-900:                                           #263238 !default;
$divider:                                           #333 !default;
$text:                                              #172B4D !default;
$blue-1:                                            #2F80ED !default;
$blue-2:                                            #016AE0 !default;
$blue-3:                                            #009FE0 !default;
$link:                                              #2196F3 !default;
$placeholder-color:                                 #6B778C !default;
$ink-400:                                           #78909C !default;
$overlay:                                           #888 !default;
$ink-300:                                           #90A4AE !default;
$gray-4:                                            #BDBDBD !default;
$gray-5:                                            #AFAFAF !default;
$gray-6:                                            #C4C4C4 !default;
$gray-7:                                            #EBEAED !default;
$gray-8:                                            #F4F5F7 !default;
$gray-9:                                            #EBECF0 !default;
$gray-10:                                           #F2F2F2 !default;
$gray-11:                                           #A5ADBB !default;
$green-1:                                           #0C8441 !default;
$green-2:                                           #5FAF3A !default;
$green-3:                                           #36B37E !default;

//font-family
$font-family-common:                                'Roboto';
$font-family-Label:                                 'SF Pro Text';
$font-family-name:                                  'Helvetica Neue';

// Font Weight
$font-weight-lighter:         						lighter !default;
$font-weight-light:           						300 !default;
$font-weight-normal:          						400 !default;
$font-weight-bold:            						500 !default;
$font-weight-bolder:          						600 !default;
$font-weight-boldest:          						700 !default;
$font-weight-very-bold:          					800 !default;