//variables
$percent-sold: 70;

$distance-common: 4;

$ratingSize: 80px;

//colors
$Black50:                                           #FAFAFA !default;
$Black200:                                          #EEEEEE !default;
$white:                                             #FFF !default;
$background-common:                                 #ECEFF1 !default;
$primary-b-300:                                     #F06292 !default;
$primary-b-500:                                     #E91E63 !default;
$red:                                               #EB5757 !default;
$red-bold:                                          #F44336 !default;
$orange-500:                                        #FF5722 !default;
$orange-100:                                        #FFCCBC !default;
$yellow-label:                                      #FFC062 !default;
$primary-text:                                      #000 !default;
$black1:                                            #181717 !default;
$black-900:                                         #212121 !default;
$ink-900:                                           #263238 !default;
$text:                                              #172B4D !default;
$placeholder-color:                                 #6B778C !default;
$ink-400:                                           #78909C !default;
$ink-300:                                           #90A4AE !default;
$gray-4:                                            #BDBDBD !default;
$gray-5:                                            #AFAFAF !default;
$gray-6:                                            #C4C4C4 !default;
$gray-7:                                            #EBEAED !default;
$green-1:                                           #0C8441 !default;
$green-2:                                           #5FAF3A !default;

//font-family
$font-family-common:                                'Roboto';
$font-family-Label:                                 'SF Pro Text';
$font-family-name:                                  'Helvetica Neue';

// Font Weight
$font-weight-lighter:         						lighter !default;
$font-weight-light:           						300 !default;
$font-weight-normal:          						400 !default;
$font-weight-bold:            						500 !default;
$font-weight-bolder:          						600 !default;
$font-weight-boldest:          						700 !default;
$font-weight-very-bold:          					800 !default;