#sheet-gift {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $overlay;
    opacity: 0.5;
  }

  .contents {
    border-radius: 1rem 1rem 0 0;
    background: $white;
    position: relative;
    overflow-y: hidden;
    transition: $default-transitions;
    transform: translateY(0);
    max-height: 100vh;
    height: 30vh;
    max-width: 70rem;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 3rem;

    &:not(.not-selectable) {
      transition: $default-transitions, height 0.5s;
    }

    .fullscreen {
      border-radius: 0;
    }

    .draggable-area {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 3rem;
      margin: auto;
      padding: 1rem;
      cursor: grab;

      .draggable-thumb {
        width: inherit;
        height: 0.25rem;
        background: $divider;
        border-radius: 0.125rem;
      }
    }

    .close-sheet {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
    }

    .body {
      height: 100%;
      overflow-y: auto;
      gap: 1rem;
    }
  }
}

#sheet-gift[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  .contents {
    transform: translateY(100%);
  }
}