@import "../variables";

body {
  margin: unset;
  background: $background-common;

  .container-photo-review {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;

    .header {
      background: $white;
      position: fixed;
      z-index: 2;
      top: 0;
      width: 100%;
      max-width: 768px;
      height: 48px;

      .title {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text;
        font-family: $font-family-Label;
        font-size: 14px;
        font-style: normal;
        font-weight: $font-weight-bold;
        line-height: normal;
      }

      .action-back {
        position: absolute;
        z-index: 3;
        top: $distance-common*3px;
        left: $distance-common*4px;

        img {
          width: 24px;
        }
      } 
    }

    .grid-product {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $distance-common*1px;
      justify-content: space-between;
      justify-items: stretch;
      align-content: space-evenly;
      margin-top: ($distance-common*4+48)*1px;
      background: $white;

      .grid-item {
        border-radius: 6px;
        border: 1px solid $gray-7;

        img {
          vertical-align: middle;
          border-style: none;
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          border-radius: 6px;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}