/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: Hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  position: fixed; /* Sit on top of the screen */
  z-index: 10; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 40%;
  width: 246px;
  height: 79px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.68);
  margin-left: -123px; /* Divide value of min-width by 2 */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
#snackbar img {
  width: 24px;
}
#snackbar .label-added {
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.2px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
  visibility: visible !important; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 40%;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 40%;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    top: 40%;
    opacity: 1;
  }
  to {
    top: 30%;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    top: 40%;
    opacity: 1;
  }
  to {
    top: 30%;
    opacity: 0;
  }
}
.show-appear {
  visibility: visible !important; /* Show the snackbar */
}

body {
  margin: unset;
  background: #ECEFF1;
}
body .container-review-product {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}
body .container-review-product .header {
  background: #FFF;
  position: fixed;
  z-index: 80;
  top: 0;
  width: 100%;
  max-width: 768px;
  height: 48px;
  border-bottom: solid 1px #F4F5F7;
}
body .container-review-product .header .title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #172B4D;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body .container-review-product .header .action-back {
  position: absolute;
  z-index: 3;
  top: 12px;
  left: 16px;
}
body .container-review-product .header .action-back img {
  width: 24px;
}
body .container-review-product .review-page {
  margin-top: 48px;
  background: #FFF;
  display: flex;
  flex-direction: column;
}
body .container-review-product .review-page .rating-component {
  padding: 16px 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #EBEAED;
}
body .container-review-product .review-page .rating-component .rate-box {
  display: flex;
  align-items: center;
}
body .container-review-product .review-page .rating-component .rate-box .rate-point-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
body .container-review-product .review-page .rating-component .rate-box .rate-point-info .rate {
  color: #FFAB00;
  font-family: "SF Pro Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .container-review-product .review-page .rating-component .rate-box .rate-point-info .list-star {
  display: flex;
  gap: 5px;
}
body .container-review-product .review-page .rating-component .rate-box .rate-point-info .list-star img {
  width: 15px;
}
body .container-review-product .review-page .rating-component .rate-box .rate-point-info .rate-number {
  color: #2F80ED;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .container-review-product .review-page .rating-component .rate-box .rate-process {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .container-review-product .review-page .rating-component .rate-box .rate-process .item-point {
  display: flex;
  gap: 8px;
}
body .container-review-product .review-page .rating-component .rate-box .rate-process .item-point .label {
  color: #172B4D;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body .container-review-product .review-page .rating-component .rate-box .rate-process .item-point img {
  width: 16px;
}
body .container-review-product .review-page .rating-component .rate-box .rate-process .item-point .number {
  color: #6B778C;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .container-review-product .review-page .rating-component .rate-box .rate-process .item-point .process {
  width: 158px;
  height: 6px;
  position: relative;
}
body .container-review-product .review-page .rating-component .rate-box .rate-process .item-point .process .first-layer {
  border-radius: 4px;
  width: 100%;
  height: inherit;
  background: #EBECF0;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}
body .container-review-product .review-page .rating-component .rate-box .rate-process .item-point .process .second-layer {
  top: 0;
  left: 0;
  border-radius: 4px;
  background-size: cover;
  height: 6px;
  z-index: 2;
  background: #FFC400;
  position: absolute;
  width: 70%;
}
body .container-review-product .review-page .rating-component .filter {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
body .container-review-product .review-page .rating-component .filter .item-filter {
  color: #6B778C;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #F2F2F2;
  border-radius: 100px;
  padding: 8px 12px;
}
body .container-review-product .review-page .rating-component .filter .active {
  color: #016AE0;
  border: #016AE0 1px solid;
}
body .container-review-product .review-page .image-review {
  display: flex;
  gap: 4px;
  padding: 16px;
}
body .container-review-product .review-page .image-review .box-photo {
  border-radius: 6px;
  border: 1px solid #C4C4C4;
  background: #C4C4C4;
  width: 64px;
  height: 80px;
  position: relative;
}
body .container-review-product .review-page .image-review .box-photo .overlay {
  width: 64px;
  height: 80px;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.85);
}
body .container-review-product .review-page .image-review .box-photo .overlay .number-more {
  color: #FFF;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .container-review-product .review-page .image-review .box-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  display: block;
  border-radius: 6px;
}
body .container-review-product .review-page .comment-component {
  padding: 16px;
  border-top: solid 1px #EBEAED;
}
body .container-review-product .review-page .comment-component .box-customer {
  display: flex;
}
body .container-review-product .review-page .comment-component .box-customer .box-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .avatar {
  min-width: 40px;
  width: 40px;
  height: 40px;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .avatar img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 40px;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust .name-and-rate {
  display: flex;
  gap: 8px;
  align-items: center;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust .name-and-rate .name {
  color: #172B4D;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust .name-and-rate .rate {
  display: flex;
  background: #FFC400;
  border-radius: 9px;
  padding: 0 4px;
  align-items: center;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust .name-and-rate .rate .point-rate {
  color: #FFF;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust .name-and-rate .rate img {
  width: 16px;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust .last-use-time {
  display: flex;
  gap: 4px;
  align-items: center;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust .last-use-time img {
  width: 11px;
  height: 11px;
}
body .container-review-product .review-page .comment-component .box-customer .box-info .info-cust .last-use-time .time {
  color: #36B37E;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
body .container-review-product .review-page .comment-component .box-customer .time-review {
  height: 100%;
}
body .container-review-product .review-page .comment-component .box-customer .time-review .box-time {
  display: flex;
  align-items: center;
}
body .container-review-product .review-page .comment-component .box-customer .time-review .box-time img {
  width: 16px;
}
body .container-review-product .review-page .comment-component .box-customer .time-review .box-time .time {
  color: #6B778C;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
body .container-review-product .review-page .comment-component .comment-and-photo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 16px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .comment {
  color: #6B778C;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .list-photo {
  display: flex;
  gap: 4px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .list-photo .box-photo {
  border-radius: 6px;
  background: #C4C4C4;
  width: 72px;
  height: 72px;
  position: relative;
}
body .container-review-product .review-page .comment-component .comment-and-photo .list-photo .box-photo .overlay {
  width: 72px;
  height: 72px;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.85);
}
body .container-review-product .review-page .comment-component .comment-and-photo .list-photo .box-photo .overlay .number-more {
  color: #FFF;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .container-review-product .review-page .comment-component .comment-and-photo .list-photo .box-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  display: block;
  border-radius: 6px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment {
  display: flex;
  align-items: center;
  gap: 12px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment img {
  width: 19px;
  height: 19px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment .reply-comment {
  color: #009FE0;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment-show {
  display: flex;
  gap: 8px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment-show .box-ava {
  width: 24px;
  height: 24px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment-show .box-ava img {
  vertical-align: middle;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 24px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment-show .comment-reply {
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #FAFAFA;
  width: 100%;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment-show .comment-reply .customer-name {
  color: #263238;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
body .container-review-product .review-page .comment-component .comment-and-photo .sub-comment-show .comment-reply .comment-content {
  color: #263238;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}
body .container-review-product #preview-photo {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #000;
  visibility: Hidden;
}
body .container-review-product #preview-photo .review-swiper-photo {
  width: 100%;
  height: auto;
  margin: auto;
}
body .container-review-product #preview-photo .review-swiper-photo .swiper-slide {
  width: 100%;
  height: 100%;
}
body .container-review-product #preview-photo .review-swiper-photo .swiper-slide img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
body .container-review-product #preview-photo .action-close {
  position: absolute;
  z-index: 2;
  top: 43px;
  left: 16px;
}
body .container-review-product #preview-photo .action-close img {
  width: 24px;
  height: 24px;
}
body .container-review-product #preview-photo .comment-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
  height: 172px;
  background: #000;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
body .container-review-product #preview-photo .comment-box .box-customer {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
body .container-review-product #preview-photo .comment-box .box-customer .name-and-rate {
  display: flex;
  gap: 8px;
  align-items: center;
}
body .container-review-product #preview-photo .comment-box .box-customer .name-and-rate .name {
  color: #FFF;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
body .container-review-product #preview-photo .comment-box .box-customer .name-and-rate .rate {
  display: flex;
  background: #FFC400;
  border-radius: 9px;
  padding: 0 4px;
  align-items: center;
}
body .container-review-product #preview-photo .comment-box .box-customer .name-and-rate .rate .point-rate {
  color: #FFF;
  text-align: center;
  font-family: "SF Pro Text";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body .container-review-product #preview-photo .comment-box .box-customer .name-and-rate .rate img {
  width: 16px;
}
body .container-review-product #preview-photo .comment-box .box-customer .box-time {
  display: flex;
  align-items: center;
}
body .container-review-product #preview-photo .comment-box .box-customer .box-time img {
  width: 16px;
}
body .container-review-product #preview-photo .comment-box .box-customer .box-time .time {
  color: #6B778C;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
body .container-review-product #preview-photo .comment-box .comment {
  color: #F4F5F7;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  height: 100%;
  overflow-y: scroll;
  padding: 0 16px;
}
body .container-review-product #preview-photo .comment-box .sub-comment {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
}
body .container-review-product #preview-photo .comment-box .sub-comment img {
  width: 19px;
  height: 19px;
}
body .container-review-product #preview-photo .comment-box .sub-comment .reply-comment {
  color: #009FE0;
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body a {
  text-decoration: none;
}

/*# sourceMappingURL=review-product.css.map */
